In [3]:
import pandas as pd
from datetime import datetime

In [4]:
anno2016 = pd.ExcelFile('Anno 2016.xlsx')
anno2016 = pd.read_excel(anno2016, 'Acquisti-Purchases')

anno2017 = pd.ExcelFile('Anno 2017.xlsx')
anno2017 = pd.read_excel(anno2017, 'Acquisti-Purchases')

anno2018 = pd.ExcelFile('Anno 2018_12.xlsx')
anno2018 = pd.read_excel(anno2018, 'Acquisti-Purchases')

anno2019 = pd.ExcelFile('Anno 2019_12.xlsx')
anno2019 = pd.read_excel(anno2019, 'Acquisti-Purchases')

anno2020 = pd.ExcelFile('Anno 2020_06.xlsx')
anno2020 = pd.read_excel(anno2020, 'Acquisti-Purchases')

In [5]:
Energy=pd.concat([anno2016, anno2017, anno2018, anno2019, anno2020])

C:\Users\matti\Anaconda3..25.02.20\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [6]:
Energy.head()

,Data/Date\n(YYYYMMDD),AUST,BRNN,BSP,CNOR,COAC,CORS,CSUD,FOGN,FRAN,...,PRGP,ROSN,SARD,SICI,SLOV,SUD,SVIZ,Totale Italia\n/Total Italy,XAUS,XFRA
0,20160101,0,0.0,0.0,2423.828,98.0,45,4578.424,0.0,0,...,0.0,0,887.501,1796.504,0,2447.066,60.0,24503.560,0.0,0.0
1,20160101,0,0.0,0.0,2334.768,85.0,45,4444.008,0.0,0,...,0.0,0,874.810,1707.844,0,2357.277,130.0,23167.599,0.0,0.0
2,20160101,0,0.0,0.0,2098.117,71.0,45,3965.373,0.0,0,...,0.0,0,800.018,1577.842,0,2118.990,90.0,22045.998,0.0,0.0
3,20160101,0,0.0,0.0,1969.641,63.0,45,3651.617,0.0,0,...,0.0,0,765.147,1404.936,0,2002.176,90.0,20808.194,0.0,0.0
4,20160101,0,0.0,0.0,1830.797,59.0,45,3300.955,0.0,0,...,0.0,0,696.916,1328.067,0,1858.906,90.0,19860.541,0.0,0.0

In [7]:
Energy.rename(columns={'   Data/Date\n(YYYYMMDD)':'date', 'Totale Italia\n/Total Italy':'Loads', 'Ora\n/Hour':'hours'}, inplace=True)

In [8]:
Energy=Energy[['date','hours','Loads']]

In [9]:
Energy.hours

0        1
1        2
2        3
3        4
4        5
        ..
4362    20
4363    21
4364    22
4365    23
4366    24
Name: hours, Length: 39431, dtype: int64

In [10]:
Energy[Energy['hours'] == 25]

          date  hours      Loads
7295  20161030     25  24915.296
7247  20171029     25  25527.511
7223  20181028     25  25155.371
7199  20191027     25  24717.912

In [11]:
Energy = Energy.loc[Energy['hours'] < 25]
Energy.head()

       date  hours      Loads
0  20160101      1  24503.560
1  20160101      2  23167.599
2  20160101      3  22045.998
3  20160101      4  20808.194
4  20160101      5  19860.541

In [12]:
#Energy[Energy['date'] == 20200329]

In [13]:
Energy.loc[-1] = ['20160327', 24, 23965.215] 
Energy.index = Energy.index + 1 
Energy = Energy.sort_index()  

Energy.loc[-1] = ['20170326', 24, 26818.668] 
Energy.index = Energy.index + 1 
Energy = Energy.sort_index() 

Energy.loc[-1] = ['20180325', 24, 27548.508] 
Energy.index = Energy.index + 1 
Energy = Energy.sort_index()  

Energy.loc[-1] = ['20190331', 24, 25615.452] 
Energy.index = Energy.index + 1 
Energy = Energy.sort_index() 

Energy.loc[-1] = ['20200329', 24, 21825.115] 
Energy.index = Energy.index + 1 
Energy = Energy.sort_index()

In [14]:
Energy

          date  hours      Loads
0     20200329     24  21825.115
1     20190331     24  25615.452
2     20180325     24  27548.508
3     20170326     24  26818.668
4     20160327     24  23965.215
...        ...    ...        ...
8784  20161231     20  35847.174
8785  20161231     21  33920.393
8786  20161231     22  31358.387
8787  20161231     23  29280.169
8788  20161231     24  27346.224

[39432 rows x 3 columns]

In [15]:
Energy.hours

0       24
1       24
2       24
3       24
4       24
        ..
8784    20
8785    21
8786    22
8787    23
8788    24
Name: hours, Length: 39432, dtype: int64

In [16]:
Energy["date"] = pd.to_datetime(Energy["date"],format='%Y%m%d')

In [17]:
Energy['date'] = pd.to_datetime(Energy['date']) + pd.to_timedelta(Energy['hours'], unit='h')

In [18]:
Energy=Energy[['date','Loads']]

In [23]:
Energy=Energy.sort_values(by='date')

In [24]:
Energy

                    date      Loads
5    2016-01-01 01:00:00  24503.560
6    2016-01-01 02:00:00  23167.599
7    2016-01-01 03:00:00  22045.998
8    2016-01-01 04:00:00  20808.194
9    2016-01-01 05:00:00  19860.541
...                  ...        ...
4367 2020-06-30 20:00:00  39911.282
4368 2020-06-30 21:00:00  39298.059
4369 2020-06-30 22:00:00  38792.129
4370 2020-06-30 23:00:00  37147.105
4371 2020-07-01 00:00:00  34435.210

[39432 rows x 2 columns]

In [26]:
Energy.to_excel(r'loads16_20.xlsx', index = False)